@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  margin: 0px;
  font-family: 'Source Code Pro', monospace;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner {
  min-width: 100vh;
  min-height: 100vh;
  background-color: #2DABDA;
  background-image: url('img/contact_background6.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

#intro-text {
  z-index: 100;
  color: White;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  padding: 15%;
  border-radius: 1px;
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
  /* Firefox < 16 */
  -ms-animation: fadein 3s;
  /* Internet Explorer */
  animation: fadein 3s;
}

#intro-h3 {
  padding-bottom: 10%;
  z-index: 100;
}

#intro-h5 {
  padding-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

#banner-title {
  font-size: 5vmin;
  color: White;
  padding-top: 25px;
  padding-bottom: 5px;
}

.banner-inner {
  max-width: 100%;
  margin: 0 auto;
}

#banner-image {
  margin-top: 10px;
  padding-top: 20px;
  min-width: 100%;
  min-height: 100%;
}

.inner-wrapper {
  width: 100vw;
  background-color: #F0FFF0;
  color: #2DABDA;
  min-height: 80vh;
  font-size: 4vmin;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  border-top: solid thick cyan;
}


.section-title {
  text-align: center;
  color: #0067c5;

}

#tools-section{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.tools-image{
  height: 300px;
}

.tools{
  width: 45%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  display: inline-block;
}

#tools-web{

}

.inner-wrapper-2 {
  min-height: 100vh;
  font-size: 4vmin;
  display: inline-block;
  width: 100%;
  background-color:#2a2929;
  text-align: center;
  color: White;

}

#portfolio-title {
  color: #F0FFF0;
  border: solid 2px White;
  width: 20%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: .9rem;
}

#projects-container{
  width: 1000px;
  min-height: 350px;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  padding-bottom: 30px;
}

.project{
  width: 300px;
  height: 300px;
  margin: 15px;
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 300px;
  border: solid 5px White;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}
.project:hover{
  border: solid 5px Black;
}

#project1{
  background-image: url('img/french-app.png');
}

#project2{
  background-image: url('img/chat-app.png');
}

#project3{
  background-image: url('img/hotel-app.png');

}

.details-border{
  border: solid thin White;
}

.project-details{
  width: 70%;
  height: 110px;
  opacity: 0;
  border: solid 4px Black;
  transition: all 0.6s ease-in-out;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 30px;
  color: White;
  background: #2a2929;
  border-radius: 5px;
  font-size: 1.3rem;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  text-align: center;
}

.project-details:hover{
  opacity: .8;

}


/**---End Portfolio Section--**/

/*------- Start Footer ---*/

#contact-container{
  width: 100vw;
  background: #40E0D0;
  background-image: url('img/contact_background3.jpg');
  text-align: center;
  color: White;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

#contact-title{
  font-size: 5.3rem;
  padding: 15px;
}

#contact-link{
  padding: 15px;
  margin: 15px;
  width: 35%;
  margin: auto;
}

.link{
    text-decoration: none;
    color: #f501d0;
    font-size: 1.5rem;
    font-family: "Dosis", sans-serif;
}

#github{
  color: White;
  padding: 30px;
}

#github-link{
  color: White;
}

@media screen and (max-width: 768px) {
  .inner-text {
    width: 100%;
    border: none;
    text-align: center;
  }

  .inner-wrapper-2{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: inline-block;
  }

  .tools{
    padding-top: 0px;
  }

  #portfolio-title {
    width: 50%;
  }

  #projects-container{
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }

.project{
    min-width: 200px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 300px;
    border: none;
}

.project-details{
  width: 150px;
  height: 150px;
  opacity: 0;
  padding: 10px;
  padding-top: 30px;
  color: White;
  background: #2a2929;
  font-size: 1.3rem;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.project:hover{
  border: none;
}

#contact-container{
  margin: 0 auto;
}

#contact-title{
  padding-top: 30px;
  font-size: 1.5rem;
}

#contact-link{
padding: 0px;
margin: 0px;
width: 50%;
margin: auto;
}
.link{
  font-size: 1rem;
  text-align: center;
  background: Black;
}
.contact-info{
  font-size: 3vmin;
}

}
